<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.fit.vyhliluk.vocards"
    android:versionCode="5"
    android:versionName="2012.08.29" >

    <uses-sdk 
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VocardsApp"
        android:backupAgent="cz.cvut.fit.vyhliluk.vocards.VocardsBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIgPS02M-lbYgi49MliJUoc9WxKT03ywmDJOZzsg" />

        <activity
            android:name=".activity.VocardsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity" />
        <activity
            android:name=".activity.PractiseActivity"
            android:label="@string/practise" >
        </activity>
        <activity
            android:name=".activity.LearnActivity"
            android:label="@string/learn" >
        </activity>
        <activity
            android:name=".activity.WordListActivity"
            android:label="@string/word_list" >
        </activity>
        <activity
            android:name=".activity.WordAddActivity"
            android:label="@string/add_word" >
        </activity>
        <activity
            android:name=".activity.DictListActivity"
            android:label="@string/dict_list" >
        </activity>
        <activity
            android:name=".activity.DictAddActivity"
            android:label="@string/add_dict" >
        </activity>
        <activity
            android:name=".activity.DictMultiListActivity"
            android:label="@string/dict_multilist" />
        <activity
            android:name=".activity.ImportActivity"
            android:label="@string/import_activity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/json"
                    android:pathPattern=".*\\.voc"
                    android:scheme="content" />
                
                <data
                    android:mimeType="application/json"
                    android:pathPattern=".*\\.voc"
                    android:scheme="file" />
            </intent-filter>
        </activity>
    </application>

</manifest>